Import packages

In [1]:
import pandas as pd
import numpy as np
from sklearn.svm import SVR
import matplotlib.pyplot as plt

In [30]:
#Load the data
#from google.colab import files # Use to load data on Google Colab
#uploaded = files.upload() # Use to load data on Google Colab
df = pd.read_csv('FB.csv')
df= df.iloc[0:30] # first five rows of dataframe
df.head(7)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-02-20,162.250000,163.720001,161.250000,162.559998,162.559998,11770700
1,2019-02-21,161.929993,162.240005,159.589996,160.039993,160.039993,15607800
2,2019-02-22,160.580002,162.410004,160.309998,161.889999,161.889999,15858500
3,2019-02-25,163.070007,166.070007,162.899994,164.619995,164.619995,18737100
4,2019-02-26,164.339996,166.240005,163.800003,164.130005,164.130005,13784100
5,2019-02-27,162.899994,163.929993,160.410004,162.809998,162.809998,12697500
6,2019-02-28,162.369995,163.500000,160.860001,161.449997,161.449997,11114200

In [31]:
dates = []
prices = []

In [32]:
#Get the number of rows and columns in the data set 
df.shape

(30, 7)

In [33]:
df.tail(1)

,Date,Open,High,Low,Close,Adj Close,Volume
29,2019-04-02,170.139999,174.899994,169.550003,174.199997,174.199997,23946500

In [34]:
df = df.head(len(df)-1)
print(df.shape)

(29, 7)

In [35]:
df_dates = df.loc[:,'Date']
df_open = df.loc[:,'Open']

In [36]:
#Create the independent data set 'X' as dates
for date in df_dates:
  dates.append( [int(date.split('-')[2])] )
  
#Create the dependent data set 'y' as prices
for open_price in df_open:
  prices.append(float(open_price))

In [37]:
print(dates)

[[20], [21], [22], [25], [26], [27], [28], [1], [4], [5], [6], [7], [8], [11], [12], [13], [14], [15], [18], [19], [20], [21], [22], [25], [26], [27], [28], [29], [1]]

In [41]:
#Function to make predictions using 3 different support vector regression models with 3 different kernals
def predict_prices(dates, prices, x):
  
  #Create 3 Support Vector Regression Models
    svr_lin = SVR(kernel='linear', C=1e3)
    svr_poly = SVR(kernel='poly', C=1e3, degree=2)
    svr_rbf = SVR(kernel='rbf', C=1e3, gamma=0.1)
  
  #Train the models on the dates and prices
    svr_lin.fit(dates,prices)
    svr_poly.fit(dates, prices)
    svr_rbf.fit(dates, prices)

  
  #Plot the models on a graph to see which has the best fit
    plt.scatter(dates, prices, color = 'black', label='Data')
    plt.plot(dates, svr_rbf.predict(dates), color = 'red', label='RBF model')
    plt.plot(dates, svr_lin.predict(dates), color = 'green', label='Linear model')
    plt.plot(dates, svr_poly.predict(dates), color = 'blue', label='Polynomial model')
    plt.xlabel('Date')
    plt.ylabel('Price')
    plt.title('Support Vector Regression')
    plt.legend()
    plt.show()
  
  #return all three model predictions
    return svr_rbf.predict(x)[0], svr_lin.predict(x)[0], svr_poly.predict(x)[0]

In [42]:
#Predict the price of FB on day 31
predicted_price = predict_prices(dates, prices, [[31]])
print(predicted_price)

TypeError: score() missing 2 required positional arguments: 'X' and 'y'